<br>
<h3 *ngIf = "dataGrid" > {{dataGrid.data.name}}</h3> 
<br>
<div *ngIf="dataGrid" >
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th *ngFor="let header of dataGrid.data.columns">
                    {{header}}
                </th>
            </tr>
        </thead>        
        <tbody>
            <tr *ngFor="let row of dataGrid.data.data">
                <td *ngFor="let value of row"> 
                    {{value}}
                </td>
            </tr>
        </tbody>>
    </table> 
</div>
